/* MessageContainer.css */

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
    height: 80vh;
    overflow-y: auto;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.no-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ccc;
    text-align: center;
}

.chat-icon {
    color: #ccc;
    margin-bottom: 10px;
}

.no-chat-message {
    font-size: 1.2em;
    color: #bbb;
}
