body {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Slightly transparent */
    backdrop-filter: blur(5px); /* Frosted glass effect */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent for the thumb */
    backdrop-filter: blur(5px); /* Apply the same blur effect */
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2); /* Dark border for contrast */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Lightens on hover */
  }
  